<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdk_runtime_enabled">

    <sdk-library android:name="com.example.sdk_runtime_enabled" android:versionMajor="1" />
    <property
        android:name="android.sdksandbox.PROPERTY_SDK_PROVIDER_CLASS_NAME"
        android:value="com.example.sdk_runtime_enabled.SdkProviderImpl"/>

</manifest>